$hr-color: #f1f1f1;

.report-editor {
  hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid $hr-color;
    width: 100%;
  }

  h4 {
    color: #363636;
    font-size: 12px;
    font-weight: 600;
    padding: 3px 65px 0px;
  }

  h5{
    padding: 3px 65px 0px;
  }
}

.report-editor-icon {
  margin-right: 8px;
}
