.focusedChip {
  padding: 8px;
  background-clip: content-box;
  box-shadow: inset 0 0 0 10px rgba(0, 123, 183, 0.15)
  // #007BBA;
  // border-color: #007BBA;
}

.maxDropdownHeght {
  max-height: 300px;
  overflow: auto;
}
