.expression {
  // background-color: #ededed;
  min-width: 600px;
  padding: 5px;
  margin-left: 5px;
  display: inline-block;
}

.expressionOdd {
  background-color: white;
}

.expressionEven {
  background-color: #ededed;
}

.expressionButtons {
  // background-color: #ededed;
  // min-width: 200px;
  padding: 5px;
  vertical-align: bottom;
  display: inline-block;
  text-align: right;
  .button {
    margin-left: 5px;
    margin-right: 5px;
    height: 29px;
    font-size: 14px !important;
    font-weight: 400 !important;
  }
}

.expressionRow {
  width: fit-content;
}

.dropdownFontSize {
  font-size: 14px !important;
  font-weight: 400;
}
