.expression {
  // background-color: #ededed;
  min-width: 600px;
  padding: 5px;
  display: inline-block;
}

.expressionOdd {
  background-color: white;
}

.expressionEven {
  background-color: #ededed;
}

.expressionButtons {
  // background-color: #ededed;
  // min-width: 200px;
  padding: 5px;
  display: inline-block;
  text-align: right;
  .button {
    margin-left: 5px;
    margin-right: 5px;
    height: 36px;
    font-size: 14px;
    font-weight: 400;
    // padding: .2em .6em .3em;
  }
}

.expressionRow {
  width: fit-content;

}
