.react-tree-view {
  ul {
    padding-left: 0;
  }

  li :first-child {
    display: inline-block;
  }

  i.icon {
    width: 1em;
    box-sizing: content-box;
    padding: 2px;
    padding-right: 1px;
    margin-right: 4px;
  }

  .dirty {
    color: #39A5DC;
  }

  .selected {
    background-color: #349ad3;
    color: #FFFFFF;
  }
}
