@import '~@patternfly/patternfly-next/sass-utilities/_all.scss';

:export { defaultColor: $pf-color-white; }

li.pf4-tag {
  font-size: 0.8em;
  display: table-cell !important;
  vertical-align:middle;
  margin-top: 0.1em; // added for case when wrapping
  margin-bottom: 0.1em; // added for case when wrapping

  .pf4-tag-badge {
    background-color: $pf-color-blue-400;
    font-size: 10px;
    padding-left: 10px;
    padding-right: 10px;

    .pf4-remove-button {
      color: $pf-color-white;
      display: inline-block;
      margin-left: 5px;
    }
  }
}
