.generic-preview-table.table.dataTable {
  div.checkbox, div.checkbox input[type="checkbox"] {
    margin: 0;
  }

  div.checkbox label {
    padding: 0;
  }

  div.checkbox input[type="checkbox"] {
    position: relative;
    vertical-align: middle;
  }

  th.sorting_desc {
    &::after {
      top: 0;
    }
  }

  th.sorting_asc {
    &::after {
      top: -1px;
    }
  }

  .cell-middle {
    text-align: center;
  }

  .clickable {
    cursor: pointer;
  }

  tr:hover > td.selected {
    background-color: #c5eaff;
  }

  td.selected {
    background-color: #def3ff;
  }
}
