<!DOCTYPE html>
<html>
<head>
    <script src="vendor.js"></script>

</head>
<body>
<div id="demo-app"></div>
<!-- For some reason provide plugin does not work with react -->
<script src="http://cdn.bootcss.com/react/15.4.1/react.js"></script>
<script src="http://cdn.bootcss.com/react/15.4.1/react-dom.js"></script>
<script src="http://cdn.bootcss.com/react-router/2.8.1/ReactRouter.js"></script>
<!-- For some reason provide plugin does not work with react -->
</body>
</html>
