<!DOCTYPE html>
<html>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.35.3/es6-shim.min.js"></script>
    <script src="https://cdn.polyfill.io/v2/polyfill.js?features=Array.prototype.includes"></script>
    <script src="vendor.js"></script>
    <link rel="stylesheet" type="text/css" href="vendor.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <!--
        manifest.json provides metadata used when your web app is added to the
        homescreen on Android. See https://developers.google.com/web/fundamentals/engage-and-retain/web-app-manifest/
      -->
</head>
<body class="body-blue">
<div class="doc-wrapper">
    <div class="container-fluid">
        <div id="doc-header" class="doc-header text-center">
            <h1 class="doc-title">React Components</h1>
        </div>
        <div class="row clear-navbar"></div>
        <div class="row">
            <div class="col-md-3">
                <ul class="nav nav-list well">
                    <li class="nav-header module">
                        <a class="code ng-binding">Example title</a>
                    </li>
                    <li class="api-list-item expand">
                        <a tabindex="2">Example title</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-9">
                <div id="demo-app"></div>
            </div>
        </div>
    </div>
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="text-center col">
                    <p class="social">
                    </p>
                </div>
            </div>
        </div>
    </footer>
</div>
</body>
</html>
